.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height: 10vh;

    padding: 0 5%;

    width: 100vw;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.google-icon {
    width: 25px;
    height: 25px;

    margin-right: 10px;
}

.input {
    border: none;
    outline: none;

    padding: 5px 0;

    padding-left: 10px;

    border-radius: 20px;
}

.navbar-right {
    color: white;
}

@media screen and (max-width: 1000px) {
    .navbar {
        justify-content: center;
    }

    .navbar-right {
        display: none;
    }
}
